<!-- aio means All In One -->
<div id="header" ng-class="{inputing: input.focus, correct: aio_form.input.$valid, error: !input_is_correct(), returning: ret_book}">
	<div id="user-info">
		<div id="nickname"><%= @current_user.nickname %></div>
		<div id="account"><%= @current_user.account %></div>
	</div>

</div>
<div id="content">
	<div id="borrow-bar">
		<form name="aio_form" novalidate>
			<div id="borrow_input">
				<%= text_field_tag :input, nil, {id: 'aio-input', "ng-model": "aio.input", 'all-in-one': '', required: '',spellcheck: false, "placeholder": "{{aio_tip}}", "ng-class": "{inputing: input.focus, correct: input_is_correct(false), error: !input_is_correct()}", autocomplete: "off", "ng-focus": "input.focus=true;", "ng-blur": "input.focus=false", "ng-paste": "handle_paste()"}%>
				<span id="clear-btn" ng-show="aio_form.input.$viewValue" ng-click="handle_clear()">x</span>
			</div>
			<div id="search-popup" ng-show="input_is_correct(false)">
				<div id="popup-book" ng-show="book.searching">
					<div class="loading">Loading...</div>
				</div>

				<div ng-show="book.show" id="book-show">
					<div id="book-cover">
						<%= image_tag("", {"ng-src": "{{book.cover}}"}) %>
					</div>
					<div id="book-info">
						<p>{{book.name}}</p>
						<p>{{book.author}}</p>
						<span id="response-msg" ng-class="{ok: 'success', fail: 'error'}[book.borrow_state]">{{response_msg}}</span>
						<div id="operation-button-group">
							<div id="borrow-btn" class="btn" ng-show="btn.borrow"><button ng-click="handle_borrow($event)" >借阅</button></div>				
							<div id="ok-btn" class="btn" ng-show="btn.known"><button ng-click="ok_btn=false;handle_clear()">知道了</button></div>
							<div id="fav-icon" ng-show="btn.wish" ng-class="{favored: book.favored}"><ng-md-icon icon="favorite" size="35"  ng-attr-title="{{{true: '取消红心', false:'红心'}[!!book.favored]}}"   ng-click="handle_favor(book)"></ng-md-icon></div>
						</div>
					</div>
				</div>
				
				<div id="popup-qrcode" ng-show="qrcode!=null">
					<qrcode size="200" data="{{qrcode}}"></qrcode>
				</div>
			</div>
		</form>
	</div>

	<div id="borrowed-list"ng-init="related_books=<%= @current_user.related_books.to_json %>">
	<div ng-repeat="book in related_books" class="list-cell" ng-class="{fade: ret_book==book.borrowed_id&&!book.favored}">
		<span class="cover-group" ng-class="{favored: book.favored}">
			<div class="favor"  ng-class="{favored: book.favored}">
				<ng-md-icon icon="favorite" size="35" ng-attr-title="{true: '取消红心', false:'红心'}[!!book.favored]"  ng-click="handle_favor(book)"></ng-md-icon>
			</div>
			<div class="favor-bg" ng-class="{favored: book.favored}"></div>
			<div class="cover">
				<img ng-src="{{book.cover}}"/>
			</div>
			<div class="name  cell-elm">{{book.name}}</div>
		</span>

		<span class="author cell-elm" title="{{book.author}}">{{author_brief(book)}}</span>
		<span class="isbn cell-elm">{{book.isbn}}</span>
		<span class="retbook_btn cell-elm" title="还书请按住我" ng-class="{borrowed: book.borrowed_id>0, fade: ret_book==book.borrowed_id&&book.favored}"><button ng-mousedown="handle_ret($event, book.borrowed_id)" ng-mouseup="handle_cancel_ret()"></button></span>
	</div>
	</div>
</div>






