<div id="header">
	<div id="user-info">
		<div id="nickname"><%= @current_user.nickname %></div>
		<div id="account"><%= @current_user.account %></div>
	</div>
</div>

<div id="content">
	<form ng-submit="handle_borrow($event)" name="borrow_form" novalidate>
		<div id="borrow_input">
			<%= text_field_tag :isbn, nil, {"ng-model": "book.isbn", isbn13: '', required: ''}%>
		</div>

	<p><small class="validation-error" ng-hide="borrow_form.isbn.$valid">ISBN-13 is invalid. Try 978-1-4493-4485-6</small></p>{{book.name}}
	  <div>
	    <%= image_tag("//{{book.cover}}") %>
	  </div>
	<button type="submit" class="button" ng-class="{true: '', false: 'alert'}[borrow_form.$valid]">Submit</button>{{error_msg}}
	</form>{{book}}

	<div ng-init="borrowed_books=<%= @current_user.borrowed_books.to_json %>">
	<ul>
	<div ng-repeat="book in borrowed_books">
	{{book.name}} | {{book.isbn}} | <img src="//{{book.cover}}">
	</div>
	</ul>
	</div>
</div>






