<!DOCTYPE html>
<html>
<head>
  <meta http-equiv=Content-Type content="text/html;charset=utf-8">
  <title>Dantarian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}".gsub('/','-') %>" ng-controller="<%= params[:controller].gsub('/','_').camelize %>Ctrl" action="<%= params[:action] %>">

<%= yield %>

</body>
</html>
